@import "media";
.section__HEAD,
.section__BANNER,
.section__PRODUCTS {
  display: flex;
}
.container {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  z-index: 1;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  max-width: 1440px;

  @media (max-width: 768px) {
    height: 0% !important;
  }
}

.text__title {
  font-weight: 600;
}

.text__content {
  font-size: 16px;
  @media (max-width: 768px) {
    font-size: 14px !important;
  }
}

.shop__now {
  margin-top: 10px;
  font-size: 20px !important;
  float: right;
  cursor: pointer;
  font-weight: bold;
  &:hover {
    font-weight: 500 !important;
  }
}

.root__plant {
  // font-family: -apple-system,'Roboto', sans-serif;
  font-family: -apple-system, "Segoe UI", Roboto, sans-serif;
  .section__HEAD {
    .container {
      height: 100vh;
      .banner {
        min-height: 100%;
        position: relative;
        .sold {
          position: absolute;
          top: 50%;
          left: 50%;
          width: 50%;
          height: 100%;
          background: #f3f3f3;
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
        }
        .sold__immage {
          position: absolute;
          transition: all 0.8s ease;
          top: 53.5%;
          height: 93%;
          left: 52%;
          width: 50%;
          transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          background-size: cover;
          background-repeat: no-repeat;
          background-image: url(img/plant1.png);
          img {
            display: none;
          }
        }
        .text {
          .left_banner_text {
            z-index: 123 !important;
            position: absolute;
            top: 28%;
            p {
              margin: 0;
              padding: 0;
            }
            .text__title {
              font-size: 70px;
              line-height: 70px;
            }
            .text__content {
              margin-top: 25px;
              position: absolute;
              padding: 0 !important;
            }
          }
          .right_banner_text {
            position: absolute;
            z-index: 123 !important;
            font-size: 24px;
            width: 22%;
            bottom: 40px;
            right: 0;
            p {
              margin: 0;
              padding: 0;
            }
            .text__title {
              font-size: 30px;
            }
            .text__author {
              font-size: 16px;
              font-weight: lighter;
            }
            .text__content {
              margin-top: 20px;
            }
          }
        }
      }
    }
  }

  .section__BANNER {
    .block {
      margin: 150px 0;
      display: flex;
      height: 500px;
      .spesies_plants {
        background-color: #f3f3f3;
        width: 60%;
      }
      .plants {
        width: 40%;
        margin-left: 20px;
        display: grid;
        .plants_wide {
          background-color: #f2f2ea;
          margin-bottom: 20px;
        }
        .plants_natural {
          background-color: #f3f6ef;
        }
      }
      .spesies_plants,
      .plants_wide,
      .plants_natural {
        display: flex;
        align-items: center;
      }
      .plants_text_banner {
        margin: 0 10px 0 40px;
        .plants_text_banner_discount {
          font-weight: 600;
          text-transform: uppercase;
        }
        .plants_text_banner_title {
          font-weight: bold;
          text-transform: uppercase;
          font-size: 24px;
        }
        .plants_text_banner_content {
        }
      }
      .spesies_plants {
        .plants_img_banner {
          img {
            max-width: 95%;
          }
        }
      }
      .plants_natural {
        flex-direction: row-reverse;
      }
      .plants_wide,
      .plants_natural {
        .plants_text_banner {
          width: 200%;
        }
        .plants_img_banner {
          img {
            float: right;
            max-width: 85%;
          }
        }
      }
    }
  }
}
